*{
  box-sizing: border-box;
}

body,html{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.image {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img8.jpg");
  background-color: #cccccc;
  height:755px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

h1{
  font-size: 80px;

}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 650px; 
  padding-left: 170px;
  padding-right: 100px;
  padding-top: 50px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
a {
	text-decoration: none;
}
.btn {
	display: inline-block;
	padding: 10px 30px;
	color: #fff;
	border-radius: 10px;
	border: solid #fff 1px;
	margin-top: 25px;
	opacity: 0.7;

}

.btn:hover {
	transform: scale(0.98);
}