*{
    box-sizing: border-box;
}

body,html{
    background-color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    height: 100%;
    margin: 0%;
    color: black;
}
a {
	text-decoration: none;
}
.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 600px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  padding-bottom:5px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
h1{
    font-size: 60px;
    font-family:'Times New Roman', Times, serif;
    color: white;
    text-align:center;
    font-weight: 250;
    
}
.btn {
	display: inline-block;
	padding: 10px 30px;
	color: #fff;
	border-radius: 10px;
	border: solid #fff 1px;
	margin-top: 25px;
	opacity: 0.7;

}

.btn:hover {
	transform: scale(0.98);
}
.image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height:100%;
    background-color: white;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

h2{
    font-size: 35px;
    font-weight: 400;;

}
  

section{
    font-size: 28px;
    color: rgba(0, 0, 0,);
}
h4{
    font-size: 24px;
    font-weight: 100;
}
.center{
    text-align: center;
}
.border{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin:5px;
    padding: 8px;
}
.border2{
  background-color: rgb(24, 24, 24);
  border-radius: 5px;
  margin:2px;
  padding: 8px;
  height:600px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li a {
  display: block;
  color:rgb(33, 30, 37);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color:rgb(122, 134, 13);
}


footer{
	background-color: #00171F;
	color: #87919E;
	height: 250px;
}
.foot {
	display: flex;
	padding-top: 35px;
	margin-left: 20px;
	margin-right: 20px;
	justify-content: space-between;
	text-align: center;
}

.foot ul{
	list-style-type: none;
}
.foot div{
	border:1px solid white;
	border-radius: 10px;
	padding:15px 10px;
}
footer .btn{
	margin-left: 20px;
	padding:10px 20px;

}
.fa {
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
}